config APP_USING_PAHOMQTT
    bool "using pahomqtt"
    default y
    select PKG_USING_PAHOMQTT
    select PKG_USING_PAHOMQTT_LATEST

if APP_USING_PAHOMQTT

config PKG_PAHOMQTT_VER
    string
    default "latest"
     
endif

